<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="shop_pumper.Shop_class_Admin"/>
      <class name="shop_pumper.Store_pumper_offers"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
